[submodule "Team_13_Large_Project_API"]
	path = Team_13_Large_Project_API
	url = https://github.com/jsapp352/Team_13_Large_Project_API
[submodule "Team_13_Large_Project_Mobile_App"]
	path = Team_13_Large_Project_Mobile_App
	url = https://github.com/jsapp352/Team_13_Large_Project_Mobile_App
[submodule "Team_13_Large_Project_Web_App"]
	path = Team_13_Large_Project_Web_App
	url = https://github.com/jsapp352/Team_13_Large_Project_Web_App.git
